.custom-card {
    background: var(--color-primary) !important;
    color: white;
  border-radius: 20px 0 20px 0; 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.custom-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}
.expertise-card{
    background-color: var(--color-primary);
}


