.leader{   
  margin-top: 100px;
}
.founder{
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 6px 10px;
  background-color: rgba(255, 255, 255, 0.196);
  color: white;
  border-radius: 4px;
}

.founder-linkedin{
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 6px 10px;
  color: white;
}

.lkd{
  position: absolute;
  top: 270px;
  right: 10px;
  padding: 6px 10px;
  color: white;
}

.founder-linkedin:hover{
  color: #0a66c2 !important;
}

.lkd:hover{
  color: #0a66c2 !important;
}


@media (max-width: 1024px) {
  .meet-the-founder {
    flex-direction: column;
  }
}
