/*--------------------------------------------------------------
# Features Section
--------------------------------------------------------------*/
.features {
  overflow: hidden;
}
.features .nav-item {
  width: 100%;
}
.features .nav-tabs, .nav-tabs-mobile {
  border: 0;
  display: flex;
  
  margin-bottom: 16px;
  
  scrollbar-width: none;
}

.features .section-title span{
  font-size: 17px;
}
.features ul,.features ul li{
  width: 100%;
  flex: 1;

}


.features .nav-link {
  width: 100%;
  background-color: #f0f0f0;
  color: #444;
  padding: 12px 20px;
  border: none;

  border-radius: 0 !important;
  font-weight: 600;
  text-align: left;
  font-size: 15px;
  position: relative;
  transition: all 0.3s ease;
}


.features .nav-link:hover {
  color: var(--color-primary);
}

.features .nav-link.active {
  background-color: #fff;
  color: #000;
  border-bottom: 2px solid white;
  z-index: 2;
  border: none;
  outline: none;
}
.features .nav-link.active::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 4px;
  background: linear-gradient(to bottom,#D152B8,#7E4DCC);

  
}
.features .tab-pane.active {
  animation: fadeIn 0.5s ease-out;
}
.features .details-tab{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 40px;
  flex-wrap: wrap;
}
.features .details{
  flex: 1 1 400px;
  max-width: 600px;
}
.features .details h3 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #556270;
}

.features .details p {
  color: #777777;
}

.features .details p:last-child {
  margin-bottom: 0;
}
.features .service-img {
  flex: 1 1 300px;
  max-width: 400px;
  text-align: center;
}

.features .service-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

@media (max-width: 992px) {
  .features .nav.nav-tabs {
    display: none;
  }
  .features .nav-link {
    border: 0;
    padding: 15px;
    white-space: nowrap;
  }
  .features .details h3{
    text-align: center;
  }
  .features .nav-link.active {
    color: var(--color-primary);
    border-color: var(--color-primary);
  }
   .features .nav-link.active::before {
    top: 0;
    left: 0;
    width: 100%;
    height: 4px; 
    background: linear-gradient(to right,#D152B8,#7E4DCC);
  }
}

@media (max-width: 778px) {
.nav-tabs-mobile{
  display: flex ;
  flex-wrap: nowrap;
  overflow: auto;
  flex-direction: unset!important;
  overflow-y: hidden;
}
}

/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about-container {
  display: flex;
  width: 100%;
}

.about-content,
.about-image {
  width: 50%;
}

.about .content {
  background-color: #fdfdfde1;
  height: 100%;
}

.about h2 {
  font-size: 24px;
  font-weight: 700;
  color: #012970;
}

.about p {
  margin: 15px 0 30px 0;
}
.about-imgg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
  }

  .about-content,
  .about-image {
    width: 100%;
  }

  .about .content {
    padding: 30px 20px;
  }
}

@media (min-width: 1400px) {
  .about-imgg {
  height: 500px;
}
}
