.swiper-wrapper {
  display: flex !important;
  align-items: stretch !important;
}

.swiper-slide {
  height: auto !important;
  display: flex !important;
}

@media (max-width: 576px) {
  .swipe-btn > div {
    margin-right: 0 !important;
  }
  .swipe-btn i {
    font-size: 14px !important;
  }
}
