.application-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  border: 2px solid #181818;
  min-height: 300px;
  max-height: 540px;
  background-color: #ffffff;
  height: 100%;
}

.app-icon {
  font-size: 28px;
  color: #181818;
  background: #f2f2f2;
  padding: 10px;
  border-radius: 12px;
}

@media (max-width: 1024px) and (min-width: 768px) {
  .application-card {
    max-height: 600px;
  }
}
