.banner4 {
  font-family: 'Inter', sans-serif !important;
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-top: 100px;
}

.banner4 video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.video-overlayy,
.contenttt,
.image-section {
  position: absolute;
  top: 0;
  height: 100%;
}

.video-overlayy {
  left: 0;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.534), rgba(0, 0, 0, 0.507));
  z-index: 1;
}

.contenttt {
  left: 0;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  z-index: 2;
  color: white;
}

.contenttt h2 {
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 10px;
}

.contenttt p {
  margin-top: 1rem;
  font-size: 1.125rem;
  line-height: 1.75;
}

.image-section {
  right: 0;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.image-section img {
  max-width: 80%;
  height: 300px;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .banner4 {
    margin-top: 70px;
  }

  .contenttt {
    position: relative;
    width: 100%;
    padding: 1.5rem;
    text-align: center;
  }

  .image-section {
    position: relative;
    width: 100%;
    margin-top: 1rem;
  }

  .image-section img {
    max-width: 200px;
  }

  .contenttt h2 {
    font-size: 1.8rem;
  }

  .contenttt p {
    font-size: 1rem;
  }
}

@media (max-width: 490px) {
  .banner4 {
    margin-top: 60px;
  }

  .contenttt {
    padding: 1rem;
  }

  .contenttt h2 {
    font-size: 1.5rem;
  }

  .contenttt p {
    font-size: 0.95rem;
  }

  .image-section img {
    max-width: 150px;
  }
}
